body {
        background: #B7094C;
        color: white;
        font-family: 'Poppins', sans-serif;
        margin: 0;
        overflow-x: hidden;
      }

/*---------------------------------------------------Nav Bar----------------------------------------------------------*/

nav{
        align-items: center;
        background: #10002b;
        display: flex;
        justify-content: space-between;
        padding: 1% 4%;
}

nav div{
        flex: 1;
        text-align: right;
}

nav div ul li{
        display: inline-block;
        list-style: none;
        margin-right: 2vw;
        padding: 0.3vw 0.7vw;
        position: relative;
}

nav div ul li a, #nav-title, .button{
        color: white;
        font-size: 1vw;
        text-decoration: None;
}

nav div ul li input{
        border: none;
        border-radius: 6px;
        font-size: 0.8vw;
        margin-right: 1vw;
        padding: 0.3vw;
        transition: 0.5s;
        width: 12vw;
}

nav div ul li input:hover{
        transition: 0.5s;
        width: 13vw;
}

nav div ul li i{
        transition: 0.5s;
}

nav div ul li i:hover{
        color: #B7094C;
        font-size: 1vw;
        transition: 0.5s;
}

.underline::after{
        background: #B7094C;
        content: '';
        display: block;
        height: 3px;
        margin: auto;
        transition: 0.5s;
        width: 0;
}

.underline:hover::after{
    width: 100%;
}

#nav-title{
        font-size: 1.8vw;
}

#nav-title span{
        font-weight: 700;
}

#about-us, .button{
        background: #B7094C;
        border-radius: 25px;
        padding: 0.5% 2%;
        transition: 0.5s;
}

#about-us:hover, .button:hover{
        background: #2E6F95;
        border-radius: 10px;
}

.button:hover{
        width: 10vw;
}

/*----------------------------------------------------Main Page-------------------------------------------------------*/

section {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 30vw;
        padding-bottom: 3vw;
        padding-top: 0;
        position: relative;
}

.purple {
        background: #10002b;
}

.curve {
        bottom: 0;
        height: 15vw;
        position: absolute;
        text-align: center;
        width: 100%;

}

.curve::before {
        background-color: #B7094C;
        border-radius: 100% 50%;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transform: translate(85%, 60%);
        width: 55%;
}

.curve::after {
        background-color: #10002b;
        border-radius: 100% 50%;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transform: translate(-4%, 40%);
        width: 55%;
        z-index: -1;
}

.purple h1{
        font-size: 5vw;
        font-weight: 400;
        margin-bottom: 0;
        margin-top: 5vw;
}

.purple h1 span{
        font-weight: 700;
}

.purple p{
        font-size: 1vw;
        margin-top: 0;
        margin-bottom: 2vw;
}

.blob-motion {
        position: absolute;
        transform: translateY(-20%);
        z-index: 0;
}

.blob-content {
        z-index: 1;
}

.blobs {
        background: url('/static/webpage_images/blobs.svg') no-repeat bottom / cover;
        width: 100%;
}

#blob-container{
        display: inline-block;
        margin-top: -10vw;
        margin-left: 20vw;
}

#index-text, #button-container{
        display: inline-block;
        margin-left: 20vw;
        text-align: left;
        width: 80%;
}

.button{
        display: inline-block;
        margin: 0 1.5vw 0 0;
        padding: 0.5vw 0;
        text-align: center;
        width: 7vw;
}

/*---------------------------------------------------list page*-------------------------------------------------------*/

#question-title{
        font-size: 2.5vw;
        text-align: center;
        margin-top: 2vw;
        margin-bottom: 2vw;
        text-transform: uppercase;
}

.table-header table, .table-content table{
        background: #10002b;
        border-collapse: collapse;
        border: none;
        table-layout: fixed;
        width: 100%;
}

.table-content table tr:hover{
        color: #B7094C;
        transition: 0.2s;
}

.table-header table tr td, .table-content table tr td{
        padding: 0;
}

.table-header{
        background: rgba(255,255,255, 0.2);
}

.table-content{
        border: none;
        min-height: 500px;
        margin-top: 0;
        overflow-x: auto;
}

.table-header table th, .table-content table th{
        font-size: 0.9vw;
        font-weight: 500;
        padding: 1vw 0.5vw;
        text-align: center;
        text-transform: uppercase;
}

.table-header table td, .table-content table td{
        border-bottom: solid 1px rgba(255,255,255, 0.2);
        font-size: 0.7vw;
        font-weight: 300;
        padding: 0.5vw;
        text-align: center;
        vertical-align: middle;
}

.table-header table a, .table-content table a{
        color: white;
        font-weight: 500;
        text-decoration: none;
        transition: 0.5s;
}

.table-header table a:hover, .table-content table a:hover{
        color: #B7094C;
        transition: 0.5s;
}

.table-container{
        width: 80%;
}

.center{
        margin-bottom: 15vw;
}

.vote-button{
        background: transparent;
        border: none;
        color: #B7094C;
        font-size: 1vw;
        padding: 0;
        transition: 0.5s;
}

.vote-button:hover{
        color: white;
        font-weight: 800;
        transition: 0.5s;
}

/*---------------------------------------------------Add Question-----------------------------------------------------*/

.add-question h1{
        font-size: 2.5vw;
        text-transform: uppercase;
}

.question-box{
        background: #10002b;
        border-radius: 1vw;
        margin: auto;
        padding: 2vw;
        width: 60%;
}

.question-form input, .question-form textarea, .comment-form textarea{
        background: white;
        border: none;
        border-radius: 1vw;
        box-sizing: border-box;
        margin: 0.6vw 0 2vw 0;
        outline: none;
        padding: 0.8vw;
        width: 100%;
}

.question-form div{
        text-align: center;
}

.submit-button{
        border: none;
        border-radius: 0.7vw;
        font-size: 1.5vw;
        padding: 0.7vw 3vw;
        transition: 0.5s;
}

.submit-button:hover{
        background: #2E6F95;
        border-radius: 1.5vw;
        padding: 0.8vw 5vw;
        transition: 0.5s;
}

.submit-button:hover .submit-child{
        color: white;
}

.question-form label{
        color: white;
        font-weight: 500;
}

/*-------------------------------------------------Question Details---------------------------------------------------*/

#left-arrow{
        background: #10002b;
        border: none;
        border-radius: 2vw;
        color: white;
        font-size: 1vw;
        font-weight: 600;
        margin-left: 15%;
        padding: 0.5vw 0.8vw;
        transition: 0.5s;
}

#left-arrow:hover{
        background: #2E6F95;
        border-radius: 0.7vw;
}

.question-details{
        background: #10002b;
        border-radius: 1vw;
        margin-bottom: 5vw;
        padding: 1vw;
        text-align: left;
        width: 60%;
}

#edit-container, #delete-container{
        position: relative;
}

#edit-container a, #delete-container button {
        background: transparent;
        border: none;
        color: white;
        font-size: 1vw;
        position: absolute;
        right: 0;
        text-decoration: none;
        transition: 0.2s;
}

#edit-container a:hover, #delete-container button:hover, #answer-delete:hover {
        color: #2E6F95;
        font-size: 1.2vw;
        transition: 0.2s;
}

#delete-container button{
        bottom: 0;
}

#question-image{
        width: 15%;
}

.question-image-container{
        margin-top: 5%;
        text-align: center;
}

.post-answer{
        background: #10002b;
        color: white;
        text-decoration: none;
}

.answers{
        margin-top: 3vw;
        text-align: center;
        width: 80%;
}

#no_answer{
        font-size: 2vw;
}

#sad{
        font-size: 3vw;
        margin-bottom: 3vw;
}

#answer-container{
        margin-top: 2vw;
        text-align: center;
}

.answer{
        background: white;
        border: none;
        border-radius: 2vw;
        color: #10002b;
        margin-bottom: 2.5vw;
}

#answer-flex{
        align-items: center;
        display: flex;
}

#vote-container{
        margin: 1vw 1vw 1vw 1.5vw;
}

.vote-button{
        background: transparent;
        border: none;
        font-size: 1vw;
        transition: 0.5s;
}

.vote-button:hover{
        color: #2E6F95;
        transition: 0.5s;
}

#vote{
        background: #10002b;
        border-radius: 1vw;
        color: white;
        font-size: 1vw;
        font-weight: 600;
        padding: 0.2vw 2vw;
        margin-right: 3vw;
}

#del-ans{
        background: transparent;
        border: none;
        font-size: 1.5vw;
        margin-left: 2vw;
        padding: 1vw;
        transition: 0.5s;
}

#del-ans:hover{
        color: #2E6F95;
        transition: 0.5s;
}

#answer-img-container{
        display: block;
        text-align: left;
}

.answer img{
        width: 20vw;
        margin: 0 0 1vw 2vw;
}
