body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #302D2D;
    box-sizing: border-box;
}

#header{
    margin-top: 150px;
    text-align: center;
}

.main_header{
    color: #DF730E;
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 0;
}

#main_subheader{
    margin-top: 0;
    color: white;
    font-size: 30px;
    font-weight: 300;
}

.orange{
    color: orange;
}

.choices{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    color: white;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.row a{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: none;
    width: 250px;
    padding: 15px 0;
    background: #DF730E;
    position: relative;
    cursor: pointer;
    border-radius: 50px 50px 50px 50px;
    font-weight: 500;
    font-size: 25px;
    transition: 0.5s;
}

.row a:hover{
    background: white;
    color: #DF730E;
    font-weight: 700;
    font-size: 30px;
    width: 275px;
    transition: 0.5s;
}

.footer{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 5%;
}

.footer div{
    display: inline-block;
}

#footer_follow_us{
    margin-bottom: 5px;
}

.links{
    margin-top: 1%;
}

.footer h4{
    color: white;
}

.links a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.links a:hover{
    color: #DF730E;
}

.footer h3{
    color: white;
}

.icons{
    margin-left: 10px;
}

.icons .fa-brands{
    color: white;
    cursor: pointer;
    margin: 25px 10px 10px 0;
}

.icons .fa-brands:hover{
    color: #DF730E;
}

@media(max-width:300px){

    html, body {overflow-x: hidden;}

    .main_header{
        font-size: 30px;
    }

    #main_subheader{
        font-size: 12px;
    }

    .choices{
        width: 90%;
    }

    .row {
        display: block;
    }

    .row a{
        margin-top: 20px;
        width: 200px;
        font-size:15px;
    }
}

@media (min-width:301px) and (max-width:420px){

    html, body {overflow-x: hidden;}

    .main_header{
        font-size: 40px;
    }

    #main_subheader{
        font-size: 15px;
    }

    .choices{
        width: 100%;
    }

    .row {
        display: block;
    }

    .row a{
        margin-top: 20px;
    }
}

@media(min-width: 421px) and (max-width: 750px){
    html, body {overflow-x: hidden;}

    .main_header{
        font-size: 60px;
    }

    #main_subheader{
        font-size: 22px;
    }

    .choices{
        width: 80%;
    }

    .row a{
        font-size: 15px;
        width: 180px;
    }
}

@media(min-width: 751px) and (max-width: 900px){
    html, body {overflow-x: hidden;}

    .main_header{
        font-size: 60px;
    }

    #main_subheader{
        font-size: 25px;
    }

    .choices{
        width: 80%;
    }

    .row a{
        font-size: 23px;
        width: 220px;
    }
}

@media(min-width: 901px) and (max-width: 1100px){
    html, body {overflow-x: hidden;}

    .main_header{
        font-size: 70px;
    }

    #main_subheader{
        font-size: 30px;
    }

    .choices{
        width: 80%;
    }

    .row a{
        font-size: 25px;
        width: 250px;
    }
}

/* list page */

.list_elements{
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    min-width: 400px;
    width: 95%;
    box-shadow: 15px 15px 5px rgba(255, 255, 255, 0.15);
}

.list_elements thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.list_elements th, .list_elements td{
    padding: 12px 15px;
}

.list_elements tbody tr {
    border-bottom: thin solid #dddddd;
}

.list_elements tbody tr:nth-of-type(even) {
    background-color: grey;
}

.list_elements tbody tr:nth-of-type(odd) {
    background-color: white;
}

.list_elements tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.white_link{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 2.5% 0 2.5% 5%;
    font-weight: 400;
    transition: 0.5s;
}

.white_link:hover{
    color: #DF730E;
    transition: 0.5s;
}

#list_title{
    text-align: center;
    font-size: 60px;
}