{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}
    <h1 class="orange" id="list_title">Add Question</h1>
    <a id="left_arrow" href="/list"><i class="fa-solid fa-arrow-left"></i></a>
    <div class="question_box">
        <form action="/add_question" method="post" enctype="multipart/form-data">
            <label style="display: block; margin-top: 10px">Title:</label>
            <input type="text" name="title">
            <label style="display: block; margin-top: 10px">Message:</label>
            <input type="text" name="message">
            <label style="display: block; margin-top: 10px">Upload screenshot:</label>
            <input type="file" name="image" accept="image/jpeg, image/png">
            {# css class needed for input textfield #}
            <br>
            <button type="submit">Submit the question</button>
            <a class="white_link" href="/list">Back</a>
        </form>
    </div>
    <section class="footer" id="details-footer">
        <div>
            <h4>@2022 - CODECOOL</h4>
        </div>
        <div class="links">
            <a href="">Cookie policy</a>
            <a href="">Privacy Policy</a>
            <a href="">Sitemap</a>
        </div>
        <div id="footer_follow_us">
            <div>
                <h3>Follow Us:</h3>
            </div>
            <div class="icons">
                <div>
                    <a href="https://www.facebook.com/CodecoolOfficial"><i class="fa-brands fa-facebook-f"></i></a>
                </div>
                <div>
                    <a href="https://www.linkedin.com/school/codecool/"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <div>
                    <a href="https://www.youtube.com/channel/UC-6g3oyuajeTki6OKysHqGg"><i class="fa-brands fa-youtube"></i></a>
                </div>
                <div>
                    <a href="https://www.instagram.com/codecool_official/"><i class="fa-brands fa-instagram"></i></a>
                </div>
                <div>
                    <a href="https://twitter.com/Codecool_global"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}