{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}
    {% include 'header.html' %}
            
    <h1 id="question-title" >Answer Comments</h1>

    {% for answer_detail in answer %}
        <a id="left-arrow" href="{{ url_for('question_details_page', question_id=answer_detail.question_id) }}"><i class="fa-solid fa-arrow-left"></i></a>
    {% endfor %}

    <section>
        {% for answer_detail in answer %}
            <div class="question-details">
                <div id="edit-container">
                    <a href="{{ url_for('update_answer', answer_id=answer_detail.id) }}"><i class="fa-solid fa-file-pen"></i></a>
                </div>
                <p>{{ answer_detail.submission_time }}</p>
                <h1>{{ answer_detail.message | safe }}</h1>
                <div class="question-image-container">
                    <img id="question-image" src="/static/images/{{ answer_detail.image }}" onerror="this.style.display='none'" alt="image">
                </div>
                <div id="delete-container">
                    <form action="{{ url_for('delete_answer', answer_id=answer_detail.id) }}" >
                        <button type="submit"><i class="fa-solid fa-trash-can"></i></button>
                    </form>
                </div>
            </div>
            <a class="submit-button post-answer add-comment" href="{{ url_for('add_comment_to_answer', answer_id=answer_detail.id) }}">Add Comment <i class="fa-solid fa-pen-to-square"></i></a>
        {% endfor %}
        <div class="answers">
            {% if not comments %}
                <div>
                    <p id="no_answer">There are no comments yet</p>
                    <i id="sad" class="fa-solid fa-face-frown-open"></i>
                </div>
            {% else %}
                <div id="answer-container">
                    {% for comment in comments %}
                        <div class="answer">
                            <div id="answer-flex">
                                <p id="message comment">{{ comment.message }}</p>
                                <div class="date-del-wrapper">
                                    <a class="edit" id="del-ans" href="{{ url_for('edit_answer_comment', comment_id=comment.id, answer_id=comment.answer_id) }}"><i class="fa-solid fa-file-pen"></i></a>
                                    <div class="del-ans-container">
                                        <form action="{{ url_for('delete_answer_comment', answer_id=comment['answer_id'], comment_id=comment.id) }}">
                                            <button id="del-ans" type="submit"><i class="fa-solid fa-trash-can"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    </section>

{% endblock %}