{% extends 'base.html' %}


{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/bonusQuestions.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/doNotModifyThisFile.js') }}" defer></script>
{% endblock %}


{% block body %}

    {% include 'header.html' %}
    <h1 id="question-title">AskMate</h1>

    <section class="center">
        <div>
            <button class="submit-button add-comment post-answer" id="theme-button" onclick="toggleTheme()">Change Theme</button>
            <button class="submit-button add-comment post-answer" id="increase-font-button">Increase page font</button>
            <button class="submit-button add-comment post-answer" id="decrease-font-button">Decrease page font</button>
        </div>


        <section class="table-container">
            <h2>All Questions:</h2>
            <div class="table-content">
                <input
                        data-table-body="doNotModifyThisId_QuestionsTableBody"
                        style="width: 30vw; margin-bottom: 1vw; border-radius: 5px; border: none" id="doNotModifyThisId_QuestionsFilter"
                        type="text"
                        placeholder="Filter by title...">
            <table>
                <thead id="doNotModifyThisId_QuestionsTableHeader">
                    <tr>
                        <td style="font-size: 1vw; padding: 0.7vw 1.4vw">Title</td>
                        <td style="font-size: 1vw; padding: 0.7vw 1.4vw">Description</td>
                        <td style="font-size: 1vw; padding: 0.7vw 1.4vw">Vote Count</td>
                        <td style="font-size: 1vw; padding: 0.7vw 1.4vw">View Number</td>
                    </tr>
                </thead>
                <tbody id="doNotModifyThisId_QuestionsTableBody">
                    {% for question in questions %}
                        <tr>
                            <td style="padding: 0.7vw 1.4vw">{{ question['title'] }}</td>
                            <td style="padding: 0.7vw 1.4vw">{{ question['description'] }}</td>
                            <td style="padding: 0.7vw 1.4vw">{{ question['vote_number'] }}</td>
                            <td style="padding: 0.7vw 1.4vw">{{ question['view_number'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </section>

    </section>

{% endblock %}

