{% extends 'base.html' %}


{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/bonusQuestions.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/doNotModifyThisFile.js') }}" defer></script>
{% endblock %}


{% block body %}

    {% include 'header.html' %}
    <h1 id="question-title">AskMate</h1>

    <section class="center">
        <div>
            <button class="submit-button add-comment post-answer" id="theme-button">Change Theme to Dark</button>
            <button class="submit-button add-comment post-answer" id="increase-font-button">Increase page font</button>
            <button class="submit-button add-comment post-answer" id="decrease-font-button">Decrease page font</button>
        </div>


        <section class="table-container">
            <h2>All Questions:</h2>
            <div class="table-header">
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Vote Count</th>
                            <th>View Number</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="table-content">
                <table>
                    <tbody>
                        {% for question in questions %}
                            <tr>
                                <td style="padding: 0.7vw 1.4vw">{{ question['title'] }}</td>
                                <td style="padding: 0.5vw 1vw">{{ question['description'] }}</td>
                                <td style="padding: 0.5vw 1vw">{{ question['vote_number'] }}</td>
                                <td style="padding: 0.5vw 1vw">{{ question['view_number'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

    </section>

{% endblock %}
