{% extends 'question_details.html' %}


{% block head %}

{% endblock %}


{% block body %}
    <h1 class="orange" id="list_title">Edit Question</h1>
    <a id="left_arrow" href="/list"><i class="fa-solid fa-arrow-left"></i></a>
    <section class="details">
        <div class="question_details">
            <div class="question_box">
                <form class="question_form" action="/question/{{ question.id }}/edit", method="post">
                    <label for="title edit" id="edit_question_label">Title</label>
                    <input type="text" size="50" name="title" id="title edit" value="{{ question.title }}">
                    <label for="message edit" id="edit_question_label">Message</label>
                    <input type="text" id="message edit" name="message" value="{{ question.message }}">
                    <button class="red_button" type="submit"><i class="fa-solid fa-arrow-up-from-bracket"></i></button>
                </form>

                <div class="question_image_container">
                    <img src="/static/images/{{ question.image }}" onerror="this.style.display='none'" alt="image" id="question_image">
                </div>

            </div>
        </div>
    </section>
{% endblock %}