<nav>
    <a href="/" id="nav-title">Ask<span>Mate</span></a>
    <div>
        <ul>
            <li>
                <form action="{{ url_for('get_search_results') }}" method="get">
                    <input placeholder="Search..." type="text" name="search-query">
                    <button type="submit" class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </li>
            <li class="underline"><a href="{{ url_for('list_questions_page') }}">Questions</a></li>
            <li class="underline"><a href="{{ url_for('add_question') }}">Ask</a></li>
            <li class="underline"><a href="{{ url_for('contacts_page') }}">Contacts</a></li>
            <li class="underline"><a href="{{ url_for('register') }}">Register</a></li>
            <li class="underline"><a href="{{ url_for('login') }}">Login</a></li>
            <li id="about-us"><a href="{{ url_for('about_us_page') }}">About us</a></li>
            <li id="user"><a href="{{ url_for('users') }}">User</a></li>
        </ul>
    </div>
</nav>