<nav>
    <a href="/" id="nav-title">Ask<span>Mate</span></a>
    <div>
        <ul>
            <li><input placeholder="Search..." type="text"><i class="fa-solid fa-magnifying-glass"></i></li>
            <li class="underline"><a href="{{ url_for('list_questions_page') }}">Questions</a></li>
            <li class="underline"><a href="{{ url_for('add_question') }}">Ask</a></li>
            <li class="underline"><a href="">Contacts</a></li>
            <li id="about-us"><a href="">About us</a></li>
        </ul>
    </div>
</nav>