{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}
    <h1 class="orange" id="list_title">Questions</h1>
    <a class="white_link" href="/">Back to Main Page</a>
    <a class="white_link" href="/add_question">Ask a question</a>
    <table class="list_elements">
            <thead>
                <tr>
                    {% for header in headers %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for line in questions %}
                    <tr>
                        <td>{{ line.id }}</td>
                        <td>{{ line.submission_time }}</td>
                        <td>{{ line.view_number }}</td>
                        <td>{{ line.vote_number }}</td>
                        <td><a href="/question/{{ line.id }}">{{ line.title }}</a></td>
                        <td>{{ line.message }}</td>
                        <td>{{ line.image }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <section class="footer">
        <div>
            <h4>@2022 - CODECOOL</h4>
        </div>
        <div class="links">
            <a href="">Cookie policy</a>
            <a href="">Privacy Policy</a>
            <a href="">Sitemap</a>
        </div>
        <div id="footer_follow_us">
            <div>
                <h3>Follow Us:</h3>
            </div>
            <div class="icons">
                <div>
                    <a href="https://www.facebook.com/CodecoolOfficial"><i class="fa-brands fa-facebook-f"></i></a>
                </div>
                <div>
                    <a href="https://www.linkedin.com/school/codecool/"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <div>
                    <a href="https://www.youtube.com/channel/UC-6g3oyuajeTki6OKysHqGg"><i class="fa-brands fa-youtube"></i></a>
                </div>
                <div>
                    <a href="https://www.instagram.com/codecool_official/"><i class="fa-brands fa-instagram"></i></a>
                </div>
                <div>
                    <a href="https://twitter.com/Codecool_global"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}