{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}

    {% include 'header.html' %}
    <section class="center">
        <section class="table-container">
            <h1 id="question-title">Questions</h1>
            <div class="table-header">
                <table>
                    <thead>
                        <tr>
                            {% for header in headers %}
                                <th>{{ header }}
                                    <form action="{{ url_for('list_questions_page') }}" method="post">
                                        <button class="vote-button" type="submit" name="select_sort" value="ASC;{{ header }}"><i class="fa-solid fa-angle-up"></i></button>
                                        <button class="vote-button" type="submit" name="select_sort" value="DESC;{{ header }}"><i class="fa-solid fa-angle-down"></i></button>
                                    </form></th>
                            {% endfor %}
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="table-content">
                <table>
                    <tbody>
                        {% for line in questions %}
                            <tr>
                                <td>{{ line.id }}</td>
                                <td>{{ line.submission_time }}</td>
                                <td>{{ line.view_number }}</td>
                                <td><form action="{{ url_for('question_vote_up', question_id=line.id) }}" method="post">
                                        <button type="submit" class="vote-button" ><i class="fa-solid fa-angle-up"></i></button>
                                    </form>
                                    {{ line.vote_number }}
                                <form action="{{ url_for('question_vote_down', question_id=line.id) }}" method="post">
                                    <button type="submit" class="vote-button" ><i class="fa-solid fa-angle-down"></i></button>
                                </form> </td>
                                <td><a class="table-question-title" href="{{ url_for('question_details_page', question_id=line.id) }}">{{ line.title }}</a></td>
                                <td>{{ line.message }}</td>
                                <td>{{ line.image }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

    </section>

{% endblock %}