{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}
    <h1 id="question-title">{{ question.title }}</h1>
    <a id="left-arrow" href="{{ url_for('list_questions_page') }}"><i class="fa-solid fa-arrow-left"></i></a>
    <div class="question-box">
        <form class="question-form" action="{{ url_for('post_answer', question_id=15) }}" method="POST" enctype="multipart/form-data">

            <label for="message">Write your answer here:</label><br>
            <input type="text" name="message" id="message"><br>

            <label for="image">Upload screenshot:</label>
            <input type="file" name="image" id="image" accept="image/jpeg, image/png">
            <br>

            <div>
                <button class="submit-button" type="submit"><i class="submit-child fa-solid fa-pen"></i></button>
            </div>

        </form>
    </div>
{% endblock %}