{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}
    <h1 class="orange" id="post_ans_title">{{ line.title }}</h1>
    <a id="left_arrow" href="/list"><i class="fa-solid fa-arrow-left"></i></a>
    <div class="question_box">
        <form class="question_form" action="/question/{{ line.id }}/new-answer" method="POST" enctype="multipart/form-data">

            <label for="message">Write your answer here:</label><br>
            <input type="text" name="message" id="message"><br>

            <label for="image">Upload screenshot:</label>
            <input type="file" name="image" id="image" accept="image/jpeg, image/png">
            <br>
            <button class="ask_question_button" type="submit">Submit Answer <i class="fa-solid fa-pen"></i></button>

        </form>
    </div>
{% endblock %}