{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}
    <h1 class="orange" id="list_title">Question Details</h1>
    <a id="left_arrow" href="/list"><i class="fa-solid fa-arrow-left"></i></a>
    <form action="/question/{{ question.id }}/delete">
    </form>
    <section class="details">
        <div class="question_details">
            <div id="edit_container">
                <a href="/question/{{ question.id }}/edit">
                    <i class="fa-solid fa-file-pen"></i>
                </a>
            </div>
            <p>{{ date[id] }}</p>
            <h1>{{ question.title }}</h1>
            <p>{{ question.message }}</p>
            <div class="question_image_container">
                <img id="question_image" src="/static/images/{{ question.image }}" onerror="this.style.display='none'" alt="image">
            </div>
        </div>
        <div id="del_div">
            <form action="/question/{{ question.id }}/delete">
                <button class="red_button" id="del_button" type="submit"><i class="fa-solid fa-trash-can"></i></button>
            </form>
        </div>
        <div class="answers">
            <a class="red_button" id="new_ans" href="/question/{{ question.id }}/new-answer">Post answer <i class="fa-solid fa-pen-to-square"></i></a>
            {% if not answers %}
                <div>
                    <p id="no_answer">There are no answers yet</p>
                    <i id="sad" class="fa-solid fa-face-frown-open"></i>
                </div>
            {% else %}
                <div id="answer_container">
                    {% for answer in answers %}
                        <div class="answer">
                            <form action="/answer/{{ answer.id }}/vote-up" method="POST">
                                <button type="submit">UP</button>
                            </form>
                            <p id="vote">{{ answer.vote_number }}</p>
                            <form action="/answer/{{ answer.id }}/vote-down" method="POST">
                                <button type="submit">DOWN</button>
                            </form>
                            <p id="message">{{ answer.message }}</p>
                            <img src="/static/images/{{ answer.image }}" onerror="this.style.display='none'">
                            <form action="/answer/{{ answer.id }}/delete" method="POST">
                                <button id="del_ans" type="submit"><i class="fa-solid fa-trash-can"></i></button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>

    <section class="footer" id="details-footer">
        <div>
            <h4>@2022 - CODECOOL</h4>
        </div>
        <div class="links">
            <a href="">Cookie policy</a>
            <a href="">Privacy Policy</a>
            <a href="">Sitemap</a>
        </div>
        <div id="footer_follow_us">
            <div>
                <h3>Follow Us:</h3>
            </div>
            <div class="icons">
                <div>
                    <a href="https://www.facebook.com/CodecoolOfficial"><i class="fa-brands fa-facebook-f"></i></a>
                </div>
                <div>
                    <a href="https://www.linkedin.com/school/codecool/"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <div>
                    <a href="https://www.youtube.com/channel/UC-6g3oyuajeTki6OKysHqGg"><i class="fa-brands fa-youtube"></i></a>
                </div>
                <div>
                    <a href="https://www.instagram.com/codecool_official/"><i class="fa-brands fa-instagram"></i></a>
                </div>
                <div>
                    <a href="https://twitter.com/Codecool_global"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}