{% extends 'base.html' %}


{% block head %}

{% endblock %}


{% block body %}
    {% include 'header.html' %}
            
    <h1 id="question-title" >Question Details</h1>
    <a id="left-arrow" href="{{ url_for('list_questions_page') }}"><i class="fa-solid fa-arrow-left"></i></a>

    <section>
        {% for question_detail in question %}
            <div class="question-details">
                <div id="edit-container">
                    <a href="{{ url_for('edit_question', question_id=question_detail.id) }}"><i class="fa-solid fa-file-pen"></i></a>
                </div>
                <p>{{ question_detail.submission_time }}</p>
                <h1>{{ question_detail.title }}</h1>
                <p>{{ question_detail.message | safe }}</p>
                <div class="question-image-container">
                    <img id="question-image" src="/static/images/{{ question_detail.image }}" onerror="this.style.display='none'" alt="image">
                </div>
                <div id="delete-container">
                    <form action="{{ url_for('delete_question', question_id=question_detail.id) }}" >
                        <button type="submit"><i class="fa-solid fa-trash-can"></i></button>
                    </form>
                </div>
                <div id="comments-container">
                    <form action="{{ url_for('question_comments_page', question_id=question_detail.id) }}" >
                        <button type="submit">See comments</button>
                    </form>
                </div>

            </div>
            <a class="submit-button post-answer add-comment" href="{{ url_for('add_comment_to_question', question_id=question_detail.id) }}">Add Comment <i class="fa-solid fa-pen-to-square"></i></a>
            <a class="submit-button post-answer" href="{{ url_for('post_answer', question_id=question_detail.id) }}">Post answer <i class="fa-solid fa-pen-to-square"></i></a>
        {% endfor %}

        <div class="answers">
            {% if not answers %}
                <div>
                    <p id="no_answer">There are no answers yet</p>
                    <i id="sad" class="fa-solid fa-face-frown-open"></i>
                </div>
            {% else %}
                <div id="answer-container">
                    {% for answer in answers %}
                        <div class="answer">
                            <div id="answer-flex">
                                <div class="vote-wrapper">
                                    <div id="vote-container">
                                        <form action="{{ url_for('answer_vote_up', answer_id=answer.id) }}" method="post" >
                                            <button type="submit" class="vote-button" ><i class="fa-solid fa-angle-up"></i></button>
                                        </form>
                                        <form action="{{ url_for('answer_vote_down', answer_id=answer.id) }}" method="post">
                                            <button type="submit" class="vote-button" ><i class="fa-solid fa-angle-down"></i></button>
                                        </form>
                                    </div>
                                    <p id="vote">{{ answer.vote_number }}</p>
                                    <a class="edit" id="del-ans" href="{{ url_for('add_comment_to_answer', answer_id=answer.id) }}"><i class="fa-solid fa-feather"></i></a>
                                    <div class="answer-comments-container">
                                        <form action="{{ url_for('answer_comments_page', answer_id=answer.id) }}" >
                                            <button type="submit">See comments</button>
                                        </form>
                                    </div>
                                </div>
                                <p id="message">{{ answer.message }}</p>
                                <div class="date-del-wrapper">
                                    <a class="edit" id="del-ans" href="{{ url_for('update_answer', answer_id=answer.id) }}"><i class="fa-solid fa-file-pen"></i></a>
                                    <p id="date">{{ answer.submission_time }}</p>
                                    <div class="del-ans-container">
                                        <form action="{{ url_for('delete_answer', answer_id=answer.id) }}" method="post">
                                            <button id="del-ans" type="submit"><i class="fa-solid fa-trash-can"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div id="answer-img-container">
                                <img  src="/static/images/{{ answer.image }}" onerror="this.style.display='none'">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    </section>

{% endblock %}